.register{
    background: linear-gradient(135deg,rgba(10,25,59,0.5) 0%,rgba(10,25,59,0.5) 100%);
    margin-top: 1%;
    padding: 3%;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register .register-form{
    padding: 6%;
    margin-top: 10%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
