section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: linear-gradient(135deg,rgba(99,148,255,0.5) 0%,rgba(10,25,59,0.5) 100%);
    border: black 2px solid;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}
.wrap:hover {
    background: linear-gradient(135deg,rgba(99,148,255,0.8) 0%,rgba(10,25,59,0.8) 100%);
    color: white;
}
.ico-wrap {
    width: 110px;
}
.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}
p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re
}
.btn {
    opacity: 0.5;
}
.btn:hover {    
    opacity: 1;
}